body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-top: 500px;   /* 👈 pushes everything down */
}


/*exercise 5: add basic css for inputs*/
input { display: block;
width: 100%;
padding: 4px;
margin: 8px 0;
}

/*exercise 6: style the button*/
button {
background-color: blue;
color: white;
padding: 10px;
width: 100%;
border: none;
cursor: pointer;
} button:hover {
background-color: darkblue;
}

/*exercise 7: center the login box*/
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f2f2f2;
} 
.login-box {
width: 300px;
padding: 20px;
background: white;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*exercise 8: add a title css*/
h2 {
text-align: center;
margin-bottom: 20px;
}